/* google fonts shared here */
body {
  font-family: "Open Sans", serif;
}

/* nav related style */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
}
.text-primary {
  color: coral;
}
.nav-title {
  font-size: 45px;
  font-weight: 800;
  color: rgb(0, 0, 0);
}
nav > ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.btn-primary {
  background-color: coral;
  padding: 15px 30px;
  color: white;
  border-radius: 10px;
  border: 0;
}
/* heder style shared */
.header {
  background-color: #dddddd;
  background-image: url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}
.banner {
  display: flex;
  padding: 30px 30px 0px 150px;
  align-items: center;
}
.banner .banner-profile {
  width: 500px;
}
.banner-title {
  font-size: 30px;
  color: black;
  margin-bottom: 0;
}
.banner-getting {
  font-size: 45px;
  color: slateblue;
  margin-top: 5px;
}
/* main section started */
main {
  max-width: 1140px;
  margin: 0 auto;
}
/* About Section start */
.name-title {
  font-size: 25px;
  text-align: center;
}
.my-details {
  text-align: center;
}
.about-section {
  background-color: #fff8f3;
  margin: 100px 0;
  padding: 100px 100px 0px 100px;
  border-radius: 10px;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
}
.about-info {
  text-align: center;
}
#what-can-i-do {
  margin-top: 0;
}
.what-can {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
}
.what-description {
  text-align: center;
  padding: 30px 120px;
}
/* skills */
.skills-container {
  display: flex;
}
.skill {
  border: 1px solid red;
  box-shadow: wheat;
  background-color: #dddddd;
  padding: 3px;
  margin: 5px;
}
